@charset "UTF-8";
nav {
	top : 70px;
	background: white;
	position: fixed;
	width: 100%;
	}
	header{
	top : 0px;
	background: white;
	position: fixed;
	width: 100%;
	}
	footer {
	background-color: #E4EDEB;
    font-size: 80%;
    color: #718C84;
    margin : 0px;
    width: 100%;
    position: fixed;
    bottom: 0px;
	}