@charset "UTF-8";
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
table, .title{
	font-family: 'SUITE-Regular';
	display: -ms-flexbox;
	-ms-flex-align: center;
	text-align: center;
	align-items: center;
	margin-left:auto;
	margin-right:auto;
}
table.table {
	--table-bg: transparent;
	margin: auto;
	padding: 15px;
}
table.chart{
	width : 80%;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
table.chartsub{
	margin-bottom: 60px;
}
table.season{
	padding-top: 100px;
}
.page-header{
	display: -ms-flexbox;
	display: flex;
}
h1.page-header {
    margin-top: 0;
    margin-bottom: 20px;
}
td.title{
	
}
td.season{
	
}
td.chart{
	
}
td.detail{
	padding-top: 50px;
}
td.page{
	display: flex;
	margin-left: auto; 
	margin-right: auto;
}
.bton {
	padding-left : 0px;
	padding-right : 0px;
	border: none;
}
.catelist {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #fbfcfd;
	height: 50px;
	width: 80%;
	align-items: center;
	border: 1px solid #ced4d9;
	justify-content: center;
}
.catebtn {
	border: none;
	background: none;
}
.catenull{
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 30px; 
	margin-bottom: 30px;
}
.areabtn{
	justify-content: center;
	border: none;
	display: flex;
	margin-bottom: 80px;
}

<!--메인카드-->
:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
.card {
  margin-bottom: 2rem;
}
div.farmer {
	float: right; 
	display: inline-block; 
	display: flex;
}
div.farmer p {
	align-self: flex-end;
}
div.farmer b {
	padding: 2px;
	margin-left: 5px; 
	margin-right: 5px;
}
