<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nong.soon.bae.repository.MypageMapper">
	
	<select id="selectLike" resultType="nong.soon.bae.bean.MyPageDTO">
		select * from ${username}_mypage where wishstatus=1
	</select>
	<select id="selectfarmer" resultType="nong.soon.bae.bean.MyPageDTO">
		select * from ${username}_mypage where wishstatus=2
	</select>
	<select id="selectcart" resultType="nong.soon.bae.bean.MyPageDTO">
		select * from ${username}_mypage where wishstatus=3
	</select>
	<select id="cntlike" resultType="int">
		select count(*) from ${username}_mypage where wishstatus=1
	</select>
	<select id="cntfarmer" resultType="int">
		select count(*) from ${username}_mypage where wishstatus=2
	</select>
	<select id="cntcart" resultType="int">
		select count(*) from ${username}_mypage where wishstatus=3
	</select>
	
	<select id="selectLikeDetail" parameterType="hashMap" resultType="nong.soon.bae.bean.MyPageDTO">
		<![CDATA[
			SELECT m.optionname, m.price, i.filename, mp.productnum
			FROM (
			    SELECT productnum, min(optionnum) as optionnum FROM ${username}_product
			    WHERE productnum = #{productnum} GROUP BY productnum)  mp
			LEFT JOIN ${username}_images i ON mp.productnum = i.productnum and i.filename like '%_1%'
			LEFT JOIN ${username}_product m ON m.productnum = mp.productnum AND m.optionnum = mp.optionnum
		]]>
	</select>
	<select id="selectFarmerDetail" parameterType="String" resultType="nong.soon.bae.bean.ShopListDTO">
		<![CDATA[
			select shopname, shopcontent, regdate, address from shoplist where username=#{username}
		]]>
	</select>
	<select id="selectMyCart" parameterType="hashMap" resultType="nong.soon.bae.bean.MyPageDTO">
		<![CDATA[
			select c.optionname, c.price, i.filename, s.shopname
			from (select c.*, rownum r from (select * from ${username}_product where productnum=#{productnum}) c) c
			join ${username}_image i on c.productnum = i.productnum
			join shoplist s on c.username = s.username
			where r >= #{start} and r <= #{end}
		]]>
	</select>
	
</mapper>