<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nong.soon.bae.repository.ProductMapper">
	<!-- 내 상점 정보 등록하기 -->
	<insert id="allShopList" parameterType="nong.soon.bae.bean.ShopListDTO">
		insert into shoplist (username, shopname, shopcontent, 
	    regdate, address) 
	    values(
	        #{username},
	        #{shopname}, 
	        #{shopcontent}, 
	        sysdate,
	        #{address} )
	</insert>	
	
	<!-- 개인 상점(테이블) 만들기 -->
	<insert id="createProduct" parameterType="String">
		create table ${username}_PRODUCT ( 
			productnum varchar2(50) primary key not null,
		    productname varchar2(1000) not null,
		    wishcount number default 0,
		    totalprice number not null,
		    productcount number not null,
		    sellcount number default 0 not null,
		    imagecount number default 0 not null,
		    content CLOB,
		    readcount number default 0 not null,
		    startdate date default sysdate not null,
		    enddate date,
		    optionstatus number default 0 )
	</insert>

	<!-- // 개인 이미지(테이블) 만들기 -->
	<insert id="createImages" parameterType="String">
		create table ${username}_images ( 
			productnum varchar2(50) not null,
		    filename varchar2(4000) not null )
	</insert>
	
	<!-- // 상품 등록하기 -->
	<insert id="productInsert" parameterType="nong.soon.bae.bean.ProductDTO">
	    insert into ${username}_PRODUCT (productnum, productname, totalprice, 
	    productcount, imagecount, content, startdate, enddate, optionstatus) 
	    values(
	        TO_NUMBER(TO_CHAR(SYSDATE, 'YY') || #{productnum} || LPAD(${seqnum}_seq.nextval, 5, '0')),
	        #{productname}, 
	        #{totalprice}, 
	        #{productcount},
	        #{imagecount},
	        #{content}, 
	        sysdate, 
	        #{enddate}, 
	        #{optionstatus} )
	</insert>
	
	<!-- 이미지 파일 넣기 -->
	<insert id="imagesInsert" parameterType="String">
		insert into ${username}_images values (
			#{productnum},
			#{filename} )
	</insert>
	
	<!-- 상품 옵션 추가 -->
	<insert id="optionInsert" parameterType="nong.soon.bae.bean.ProductDTO">
	    insert into ${username}_PRODUCT (productnum, productname, totalprice, 
	    productcount) 
	    values(
	        TO_NUMBER(TO_CHAR(SYSDATE, 'YY') || #{productnum} || LPAD(${seqnum}_seq.nextval, 5, '0')),
	        #{productname}, 
	        #{totalprice}, 
	        #{productcount} )
	</insert>
	
	<!-- 가장 최근에 상품등록한 productnum값 가져오기 -->
	<select id="selectProductnum" resultType="String" parameterType="String">
		<![CDATA[
			select productnum from 
				(select c.* , rownum r from 
				(select productnum from ${username}_product order by startdate desc) c) 
				where r = 1
		]]>
	</select>
	
	<!-- 전체 상품 테이블에 상품 등록할 때 넣을 유저의 주소 찾기 -->
	<select id="selectAddress" resultType="nong.soon.bae.bean.AreaDTO" parameterType="String">
		SELECT AREA.AREA1, AREA.AREA2 FROM shoplist 
		JOIN AREA ON shoplist.ADDRESS LIKE '%' || AREA.AREANAME || '%'
		WHERE shoplist.USERNAME = #{username}
	</select>
	
	<!-- 전체 상품 테이블에 상품 등록하기 -->
	<insert id="allProductInsert" parameterType="nong.soon.bae.bean.AllProductDTO">
		insert into ALLPRODUCT (productnum, productname, cate1, cate2, cate3,
		area1, area2, username) values (
		 	#{productnum},
		 	#{productname},
		 	#{cate1}, #{cate2}, #{cate3}, 
		 	#{area1}, #{area2},
		 	#{username}	) 	 
	</insert>
	
	<!-- 상품 등록할 때 상품 번호로 리뷰테이블 만들기 -->
	<insert id="createReviews" parameterType="String">
		create table ${productnum}_reviews ( 
			username varchar2(50),
			productnum varchar2(50),
			content varchar2(4000),
			imagecount number default 0,
			stars number default 5,
			regdate date default sysdate )
	</insert>
	
	<!-- FINISH -->

	<select id="allProduct" resultType="nong.soon.bae.bean.AllProductDTO">
		select * from allproduct 
	</select>

	<!-- 상품 상세정보 보기 --> 
	<select id="productDetail" resultType="nong.soon.bae.bean.ProductDTO" parameterType="String">
		select * from ${username}_product where productname=#{productname}
	</select>
	
	
	
	<!-- TEST -->
	
	<select id="myProduct" resultType="nong.soon.bae.bean.ProductDTO" parameterType="String">
		select * from ${username}_PRODUCT
	</select>
	
	
	<select id="productInfo" parameterType="nong.soon.bae.bean.ProductDTO" resultType="nong.soon.bae.bean.ProductDTO">
		select * from ${username}_product where productnum=#{productnum}
	</select>
	
</mapper>    
    