<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nong.soon.bae.repository.ProductMapper">
	<!-- 개인 상점(테이블) 만들기 -->
	<insert id="createProduct" parameterType="String">
		create table ${username}_PRODUCT ( 
			productnum varchar2(50) primary key not null,
		    productname varchar2(1000) not null,
		    wishcount number default 0,
		    totalprice number not null,
		    productcount number not null,
		    sellcount number default 0 not null,
		    imagecount number default 0 not null,
		    content varchar2(4000) not null,
		    readcount number default 0 not null,
		    startdate date default sysdate not null,
		    enddate date,
		    optionstatus number )
	</insert>

	<!-- // 개인 이미지(테이블) 만들기 -->
	<insert id="createImages" parameterType="String">
		create table ${username}_images ( 
			productnum varchar2(50) not null,
		    filename varchar2(4000) not null )
	</insert>
	
	<!-- FINISH -->
	
	<!-- // 판매 정보 넣기 -->
	<insert id="productInsert" parameterType="nong.soon.bae.bean.ProductDTO">
	    insert into ${username}_PRODUCT (productnum, productname, totalprice, 
	    productcount, imagecount, content, startdate, enddate, optionstatus) 
	    values(
	        TO_NUMBER(TO_CHAR(SYSDATE, 'YY') || #{productnum} || LPAD(${seqnum}_seq.nextval, 5, '0')),
	        #{productname}, 
	        #{totalprice}, 
	        #{productcount},
	        #{imagecount},
	        #{content}, 
	        sysdate, 
	        #{enddate}, 
	        #{optionstatus}
	    )
	</insert>
	
	<insert id="allproduct" parameterType="nong.soon.bae.bean.AllProductDTO">
		insert into ALLPRODUCT (productnum, productname, cate1, cate2, cate3,
		area1, area2, username) values (
		 	#{productnum},
		 	#{productname},
		 	#{cate1}, #{cate2}, #{cate3}, 
		 	1, 1, 
		 	#{username}		 
		 )		 
	</insert>
	
	<!-- TEST -->
	
	<select id="myProduct" resultType="nong.soon.bae.bean.ProductDTO" parameterType="String">
		select * from ${username}_PRODUCT
	</select>
	

	<!-- 가장 최근에 상품등록한 productnum값 가져오기 -->
	<select id="selectProductnum" resultType="String" parameterType="String">
		<![CDATA[
			select productnum from 
				(select c.* , rownum r from 
				(select productnum from ${username}_product order by startdate desc) c) 
				where r = 1
		]]>
	</select>
	
	<!-- TEST0110 -->
	<insert id="imagesInsert" parameterType="String">
		insert into ${username}_images values (
			#{productnum},
			#{filename}
		)
	</insert>
	

	<insert id="createReviews" parameterType="String">
		create table ${productnum}_reviews ( 
			username varchar2(50),
			productnum varchar2(50),
			content varchar2(4000),
			imagecount number default 0,
			stars number default 5,
			regdate date default sysdate
		)
	</insert>

</mapper>    
    