<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nong.soon.bae.repository.ProductMapper">
	
	<select id="selectProductcategory" resultType="nong.soon.bae.bean.ProductCategoryDTO">
		select * from productcategory
	</select>
	
	<insert id="createProduct" parameterType="String">
		create table ${username}_PRODUCT ( 
			productnum varchar2(50) primary key not null,
		    productname varchar2(200) not null,
		    wishcount number default 0,
		    totalprice number not null,
		    productcount number not null,
		    sellcount number default 0 not null,
		    imagecount number default 0 not null,
		    content varchar2(4000) not null,
		    readcount number default 0 not null,
		    startdate date default sysdate not null,
		    enddate date,
		    optionstatus number,
		    username varchar2(50) )
	</insert>
	
	<insert id="createSEQ" parameterType="String">
		create sequence ${username}_PRODUCT_SEQ
	</insert>
	
	<insert id="createReviews" parameterType="String">
		create table ${username}_reviews ( 
			productnum varchar2(50) primary key not null,
		    name varchar2(50) not null,
		    productname varchar2(50),
		    content varchar2(4000) not null,
		    imagecount number default 0 not null,
		    stars number default 5 not null )
	</insert>
	
	<insert id="createImages" parameterType="String">
		create table ${username}_images ( 
			productnum varchar2(50) primary key not null,
		    filename varchar2(4000) not null )
	</insert>
	
	<!-- FINISH -->
	
	<insert id="productInsert" parameterType="nong.soon.bae.bean.ProductDTO">
    insert into ${username}_PRODUCT (productnum, productname, totalprice, 
    productcount, imagecount, content, startdate, enddate, optionstatus, username) 
    values(
        TO_NUMBER(TO_CHAR(SYSDATE, 'YY') || LPAD(${username}_product_seq.nextval, 5, '0')),
        #{productname}, 
        #{totalprice}, 
        #{productcount},
        #{imagecount},
        #{content}, 
        sysdate, 
        #{enddate}, 
        #{optionstatus},
        #{username}
    )
	</insert>
	
	<!-- TEST -->
	
	<select id="selectCate1" resultType="String">
		select catename from productcategory where cate1>0 and cate2=0 and cate3=0
	</select>
	
	<select id="selectCate2" resultType="String">
		select catename from productcategory where cate1>0 and cate2>0 and cate3=0
	</select>
	
	<select id="selectCate3" resultType="String">
		select catename from productcategory where cate1>0 and cate2>0 and cate3>0
	</select>
	
	<select id="myProduct" resultType="nong.soon.bae.bean.ProductDTO" parameterType="String">
		select * from ${username}_PRODUCT where username=#{username}
	</select>
	
	
	
	
	
	
</mapper>    
    